@media only screen and (max-width:540px){
    
        .contact{
            max-width: 300px;
            flex-wrap: wrap;
            font-size:smaller ;

        }
        .label{
            display: none;
        }
        h4,h5,h6{
            font-size: smaller;
        }
        .google{
            display: none;
        }
        .phone{
            margin-left:55px ;
            font-size: smaller;
        }
        .skills{
            margin-right:130px;
        }
    
}